body {
  background-color: #343838;
  font-size: 18px;
  font-family: Montserrat, 'Arial';
  color: #fff; }

/* Typography */
h1, h2, h3, h4, h5, p, span {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 40px;
  word-spacing: 20px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 27px; }

h4 {
  font-size: 23px; }

h5 {
  font-size: 20px; }

/* header styles */
header {
  background-color: #005F6B;
  width: 100%;
  text-align: center;
  padding: 5px 0 5px 0;
  margin-bottom: 35px; }

.player-container {
  width: 1170px;
  color: #343838;
  height: 250px;
  margin: 0 auto 35px;
  text-align: center; }
  .player-container .player {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    height: 250px;
    width: 40%;
    margin: 0 30px;
    border: 2px solid #005F6B;
    border-radius: 2px;
    text-align: center; }
    .player-container .player .last-action {
      position: absolute;
      left: 35%;
      top: 20%;
      height: 60%; }
      .player-container .player .last-action img {
        height: 100%; }
    .player-container .player .actions {
      list-style-type: none;
      padding: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: 0 auto 10px;
      left: 0; }
      .player-container .player .actions li {
        display: block;
        float: left;
        background-color: #005F6B;
        padding: 0;
        width: 25%;
        padding: 5px;
        margin: 0 3%;
        border-radius: 2px; }

.player-records {
  width: 1170px;
  margin: 0 auto 50px; }
  .player-records .player-stat {
    display: inline-block;
    width: 33%;
    text-align: center; }

.player-actions {
  width: 1170px;
  margin: 0 auto 35px; }
  .player-actions .action {
    background-color: #008C9E;
    display: inline-block;
    width: 33%;
    text-align: center;
    border-radius: 2px;
    cursor: pointer; }
    .player-actions .action:active {
      background-color: #00B4CC; }

.timer {
  width: 1170px;
  margin: 0 auto;
  text-align: center; }
  .timer input {
    text-align: center;
    margin: 0 40px; }
  .timer .display {
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 30px auto;
    width: 150px;
    height: 50px;
    border-radius: 2px;
    border: 1px solid white; }
