body {
  background-color: #151e28;
  font-size: 18px;
  font-family: Montserrat, 'Arial';
  color: white; }

.scoreboard {
  width: 100%;
  background-color: #1a2632;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10%; }
  .scoreboard .score {
    display: inline-block;
    width: 33.33%;
    background-color: #35b197;
    margin: 0;
    padding: 10px;
    text-align: center; }

.game {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  height: 75vh; }
  .game .player {
    background-color: #1a2632;
    height: 150px;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px; }

.timer {
  font-size: 30px;
  border: 2px inset gray;
  display: inline-block;
  padding: 0; }
  .timer:hover {
    background-color: #1a2632; }

.timer-input {
  text-align: center;
  line-height: 2;
  font-size: 20px;
  width: 82px;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: #ffffff; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0; }

.timer-hide {
  display: none; }

.timer-display {
  display: inline-block;
  text-align: center;
  font-size: 22px;
  width: 82px;
  height: 100%;
  margin: 0;
  line-height: 2;
  color: #ffffff; }

.button-set {
  display: inline-block;
  margin: 0 auto 15px; }
  .button-set button {
    width: 64px;
    font-size: 22px;
    margin: 0;
    padding: 0;
    line-height: 2; }
    .button-set button#play {
      background-color: #85d9a6; }
    .button-set button#reset {
      background-color: #d55649; }
    .button-set button#pause {
      background-color: #b5b52b; }

.actions {
  background-color: #1a2632;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; }
  .actions li {
    -webkit-user-select: none;
    cursor: pointer;
    background-color: #35b197;
    width: 33.3%;
    margin: 10px;
    padding: 10px;
    text-align: center; }
    .actions li:hover {
      background-color: #62d0b9; }
    .actions li:active {
      background-color: #f66e3a; }

.content {
  width: 100%;
  margin: 0 auto; }

.fa-size {
  font-size: 65px; }

.result-popup {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 125px;
  background-color: #35b197;
  box-shadow: 0 0 10px #adccad;
  line-height: 125px;
  font-size: 30px;
  top: 40%;
  width: 70%;
  left: 15%;
  z-index: 10;
  display: none; }

.warning-popup {
  position: absolute;
  top: 70px;
  width: 100%;
  text-align: center;
  color: #e42c2c;
  display: none; }

.result-hide {
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s; }

@media only screen and (max-width: 359px) {
  .game .player {
    height: 115px; } }

@media only screen and (min-width: 480px) {
  .game {
    height: 75vh; }
    .game .player {
      height: 300px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; } }

@media only screen and (min-width: 900px) {
  .scoreboard {
    margin-bottom: 35px; }
  .game {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .game .player {
      width: 45%;
      height: 400px;
      margin: 0 auto;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
      .game .player:last-of-type {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0; }
    .game .controls {
      margin: 0 auto;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
      .game .controls .timer {
        display: block; }
      .game .controls .buton-set {
        display: block; }
    .game .button-set {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }
