//CSS Breakpoints 1000px, 760px, 480px
$primary: #151e28;
$light: #35b197;
$secondary: #1a2632;
$white: #ffffff;

body {
	background-color: $primary;
	font-size: 18px;
	font-family: Montserrat, 'Arial';
	color: white;

}

.scoreboard {
	width: 100%;
	background-color: $secondary;
	display: flex;
	margin-bottom: 10%;

	.score {
		display: inline-block;
		width: 33.33%;
		background-color: $light;
		margin: 0;
		padding: 10px;
		text-align: center;
	}
}

.game {
	margin: 0 auto;
	width: 80%;
	text-align: center;
	height: 75vh;

	.player {
		background-color: $secondary;
		height: 150px;
		margin: 0;
		margin-bottom: 15px;
		padding: 10px;
	}
}

.timer {
  font-size: 30px;
  border: 2px inset gray;
  display: inline-block;
  padding: 0;
  &:hover {
  	background-color: $secondary;
  }
}

.timer-input {
  text-align: center;
  line-height: 2;
  font-size: 20px;
  width: 82px;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: $white;
  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	margin: 0;

}

.timer-hide {  
	display: none;
}

.timer-display {
  display: inline-block;
  text-align: center;
  font-size: 22px;
  width: 82px;
  height: 100%;
  margin: 0;
  line-height: 2;
  color: $white;
}

.button-set {
	display: inline-block;
	margin: 0 auto 15px;
	button {
		width: 64px;
		font-size: 22px;
		margin: 0;
		padding: 0;
		line-height: 2;
		&#play {background-color: #85d9a6;}
		&#reset {background-color: #d55649;}
		&#pause {background-color: #b5b52b;}
	}
}

.actions {
	background-color: $secondary;
	position: fixed;
	bottom: 0;
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	li {
		-webkit-user-select: none;
		cursor: pointer;
		background-color: $light;
		width: 33.3%;
		margin: 10px;
		padding: 10px;
		text-align: center;
		&:hover {
			background-color: lighten($light, 15)
		}
		&:active {
			background-color: #f66e3a;
		}
	}
}

.content {
	width: 100%;
	margin: 0 auto;
}

.fa-size {
	font-size: 65px;
}

.result-popup {
	position: absolute;
    text-align: center;
    width: 200px;
    height: 125px;
    background-color: $light;
    box-shadow: 0 0 10px #adccad;
    line-height: 125px;
    font-size: 30px;
    top: 40%;
    width: 70%;
    left: 15%;
    z-index: 10;
    display: none;
}

.warning-popup {
	position: absolute;
    top: 70px;
    width: 100%;
    text-align: center;
    color: #e42c2c;
    display: none;
}

.result-hide {
	opacity: 1;
	transition: opacity 2s;
}

@media only screen and (max-width: 359px) {
	.game {
		.player {
			height: 115px;
		}
	}
}

@media only screen and (min-width: 480px) {
	.game {
		height: 75vh;
		.player {
			height: 300px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}
	}		
}

@media only screen and (min-width: 900px) {
	.scoreboard {
		margin-bottom: 35px;
	}

	.game {
		display: flex;
		flex-wrap: wrap;
		.player {
			width: 45%;
			height: 400px;
			margin: 0 auto;
			order: 1;
			&:last-of-type {
				order: 0;
			}
		}
		.controls {
			margin: 0 auto;
			order: 2;
			.timer {
				display: block;
			}
			.buton-set {
				display: block;
			}
		}
		.button-set {
			order: 1;
		}
	}		
}

